@import "compass/css3/background-size";

@import "variables";

* {
  line-height: 1.3;
}

h2 {
  font-weight: bold;
}
h2, h3 {
  color: $gray-4;
}

// q, blockquote {
//   font-weight: bold;
// }

strong {
  font-weight: bold;
}

slides > slide {
  color: $gray-4;

  &.title-slide {
    //&:after {
    //  content: '';
    //  background: url(../../images/io2013/google-io-lockup-1.png) no-repeat 100% 50%;
    //  @include background-size(contain);
    //  position: absolute;
    //  bottom: $slide-top-bottom-padding + 40;
    //  right: $slide-top-bottom-padding;
    //  width: 100%;
    //  height: 90px;
    //}

    hgroup {
      h1 {
        font-weight: bold;
        line-height: 1.1;
      }
      h2, p {
        color: $gray-4;
      }
      h2 {
        margin-top: 0.25em;
      }
      p {
        margin-top: 3em;
      }
    }
  }
}

.aa {
  font-family: IPAMonaPGothic,'IPA モナー Pゴシック',Monapo,Mona,'MS PGothic','ＭＳ Ｐゴシック',sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.reset-font {
  font-family: 'Open Sans', Arial, sans-serif;
}

.large-spacer {
  margin-top: 25px;
}

.mid-spacer {
  margin-top: 15px;
}

.small-spacer {
  margin-top: 10px;
}

.align-center {
  text-align: center;
}

.gray-out {
  color: #9e9191;
}

.frame-border {
  border: 1px solid #000;
  padding: 10px;
}

.my-note {
  font-size: 22px;
  padding-top: 3px;
  padding-bottom: 10px;
}

$my-td-em: 2px solid #f00;

.em-border {
  border: $my-td-em;
}

.em-border-t {
  border-right: $my-td-em;
  border-left: $my-td-em;
  border-bottom: $my-td-em;
}

.em-border-r {
  border-top: $my-td-em;
  border-left: $my-td-em;
  border-bottom: $my-td-em;
}

.em-border-b {
  border-top: $my-td-em;
  border-left: $my-td-em;
  border-right: $my-td-em;
}

.em-border-l {
  border-top: $my-td-em;
  border-right: $my-td-em;
  border-bottom: $my-td-em;
}

.em-border-tb {
  border-right: $my-td-em;
  border-left: $my-td-em;
}

.em-border-rl {
  border-top: $my-td-em;
  border-bottom: $my-td-em;
}

.table-collapse {
  border-collapse: collapse;
}
