@charset "UTF-8";
/* line 5, ../scss/additional.scss */
* {
  line-height: 1.3;
}

/* line 9, ../scss/additional.scss */
h2 {
  font-weight: bold;
}

/* line 12, ../scss/additional.scss */
h2, h3 {
  color: #515151;
}

/* line 20, ../scss/additional.scss */
strong {
  font-weight: bold;
}

/* line 24, ../scss/additional.scss */
slides > slide {
  color: #515151;
}
/* line 40, ../scss/additional.scss */
slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  line-height: 1.1;
}
/* line 44, ../scss/additional.scss */
slides > slide.title-slide hgroup h2, slides > slide.title-slide hgroup p {
  color: #515151;
}
/* line 47, ../scss/additional.scss */
slides > slide.title-slide hgroup h2 {
  margin-top: 0.25em;
}
/* line 50, ../scss/additional.scss */
slides > slide.title-slide hgroup p {
  margin-top: 3em;
}

/* line 57, ../scss/additional.scss */
.aa {
  font-family: IPAMonaPGothic,'IPA モナー Pゴシック',Monapo,Mona,'MS PGothic','ＭＳ Ｐゴシック',sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/* line 63, ../scss/additional.scss */
.reset-font {
  font-family: 'Open Sans', Arial, sans-serif;
}

/* line 67, ../scss/additional.scss */
.large-spacer {
  margin-top: 25px;
}

/* line 71, ../scss/additional.scss */
.mid-spacer {
  margin-top: 15px;
}

/* line 75, ../scss/additional.scss */
.small-spacer {
  margin-top: 10px;
}

/* line 79, ../scss/additional.scss */
.align-center {
  text-align: center;
}

/* line 83, ../scss/additional.scss */
.gray-out {
  color: #9e9191;
}

/* line 87, ../scss/additional.scss */
.frame-border {
  border: 1px solid #000;
  padding: 10px;
}

/* line 92, ../scss/additional.scss */
.my-note {
  font-size: 22px;
  padding-top: 3px;
  padding-bottom: 10px;
}

/* line 100, ../scss/additional.scss */
.em-border {
  border: 2px solid red;
}

/* line 104, ../scss/additional.scss */
.em-border-t {
  border-right: 2px solid red;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
}

/* line 110, ../scss/additional.scss */
.em-border-r {
  border-top: 2px solid red;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
}

/* line 116, ../scss/additional.scss */
.em-border-b {
  border-top: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/* line 122, ../scss/additional.scss */
.em-border-l {
  border-top: 2px solid red;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}

/* line 128, ../scss/additional.scss */
.em-border-tb {
  border-right: 2px solid red;
  border-left: 2px solid red;
}

/* line 133, ../scss/additional.scss */
.em-border-rl {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

/* line 138, ../scss/additional.scss */
.table-collapse {
  border-collapse: collapse;
}
